<form action="formulario" action="post">
  <div class="">

  </div>
  <label>Nombre Completo</label>
  <input type="text" name="txtNombre"
  value={{txtNombre}} placeholder="Nombre Completo">
  <br/>
  <label>Genero</label><br/>
  <input type="radio" value="M" name="genMasculino" {{Mchecked}} />
  Femenino
  <input type="radio" value="F" name="genFemenino" {{Fchecked}} />
  <br/>
  <input type="submit" name="" value="Enviar Formulario">
</form>
<div class="">
  {{resultado}}
</div>
